* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;  
  background-color: rgb(226, 231, 227);  
}

.wrap {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.page-header {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(222, 240, 189);
}

.page-header__img {
  width: 100px;
  height: auto;
}

.btn {
  outline: none;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: rgb(204, 159, 190);
  filter: drop-shadow(3px 3px 5px rgb(170, 154, 228));
  
}

.pencil {
  object-fit: contain;
  height: 800px;
  width: 600px;
  transform: rotate(326deg);
  margin-left: 180px;
  margin-top: -510px;
  object-position: bottom;
}

.dirt {
  height: 100px;
}

.best-doctors{
  font-size: 40px;
  color: rgb(131, 155, 137);
  text-transform: uppercase;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  min-height: 150px;
  background-color: rgb(222, 240, 189);
  border-radius: 20px;
  padding: 10px 20px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.form__select {
  margin-bottom: 20px;
}

.form__input-wrapper {
  width: 100%;
  padding: 5px 0;
}

.form__label {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.form__textarea {
  width: 100%;
  height: 150px;
  resize: none;
  margin-bottom: 20px;
}

.close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  border: none;
  outline: none;
  background-image: url(../img/close.png);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 20px;
  height: 20px;
}

.show-more {
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  border: none;
  filter: drop-shadow(3px 3px 5px rgb(0, 0, 0));
  width: 120px;
}

.main-content {
  position: relative;
  margin-top: 10px;
  min-height: 70vh;
  background-color: rgb(131, 155, 137);
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: min-content;
  grid-gap: 10px;
  align-content: flex-start;
  grid-auto-flow: row;
}

.visit-card {
  cursor: pointer;
  position: relative;
  padding: 10px;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  width: 228px;
  border-radius: 5px;
}

.article__field-main,
.article__field {
  margin-bottom: 5px;
}

.hide {
  display: none;
}

.main-content__title {
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}